@media(max-width:850px){
    .menu-btn{
        display: block;
    }
    .menu-btn:hover{
        opacity: 0.5;
    }
    .main-nav ul.main-menu{
        display: block;
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: #f2f2f2;
        height: 100%;
        width: 50%;
        transform: translatex(-25px);
        opacity: 0.8;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(-500px);
        transition:  0.5s ease-in-out;
    }
    .main-nav ul.main-menu li{
        border-bottom: 1px solid rgb(116, 116, 116);
    }
    .main-nav ul.main-menu li:last-child{
        border-bottom: none;
    }
    .main-nav ul.main-menu.show {
        transform: translateX(-20px);
        
    }

.home-cards{
    grid-template-columns: repeat(2,1fr);
}
.about{
    grid-template-columns: repeat(2,1fr);

}
}
@media(max-width:450px){

    .right-menu{
        display: none;
    }
    .home-cards{
        grid-template-columns:1fr;
    }
    .about{
        grid-template-columns: 1fr;
    
    }
    footer ul{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       text-align: center;
    }
}